.title{
    margin: 0;
    display: inline-block;
}

.subtitle{
    margin: 0;
}

.dataContainer{
    display: flex; 
    height: 760px;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .dataContainer{
        display: block;
    }

    .dataContainer > div{
        height: 400px;
    }
}