.pannel{
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.pannel :global(.title){
    margin-left: 30px;
    margin-bottom: 0;
}

.pannel :global(.value){
    text-align: center;
}